# Final Project Phase 2 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 2 of the Final Project. Answer all statements addressed below as specified in the instructions for the project, covering all necessary details. Please be clear and concise in your answers. Each response should be at most 3 sentences. Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable.
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning
You are required to provide data collection and cleaning for the three (3) minimum datasets. Create a function for each of the following sections that reads or scrapes data from a file or website, manipulate and cleans the parsed data, and writes the cleaned data into a new file.

Make sure your data cleaning and manipulation process is not too simple. Performing complex manipulation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

## Data Sources
Include sources (as links) to your datasets. Add any additional data sources if needed. Clearly indicate if a data source is different from one submitted in your Phase I, as we will check that it satisfies the requirements.
*   Downloaded Dataset Source: https://collegescorecard.ed.gov/data
    
    Easy access to the dataset used: https://drive.google.com/file/d/1Zlxf4iP71awQBMopWyBaf8c9WdJoAgF6/view?usp=share_link

*   Web Collection #1 Source: https://www.reachhighscholars.org/scores_and_acceptance.html
*   Web Collection #2 Source: https://api.data.gov/ed/collegescorecard/v1/schools.json?&api_key=6QnJqX2bDvlVKsS4xPyPkMZG28mHTKRJ5rLgNxeW

In [ ]:
import numpy as np
import pandas as pd
import requests, re
from bs4 import BeautifulSoup

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Downloaded Dataset Requirement

Fill in the predefined functions with your data scraping/parsing code. You may modify/rename each function as you seem fit, but you must provide at least 3 separate functions that clean each of your required datasets.

In [ ]:
def data_parser1():
  data_file = '/content/drive/MyDrive/CS 2316 Project/FieldOfStudyData1718_1819_PP.csv'
  df = pd.read_csv(data_file, delimiter = ',')
  df.replace('PrivacySuppressed', np.NaN, inplace = True)
  df.drop(['BBRR2_FED_COMP_N','BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE' ], inplace=True, axis=1)
  cols = df.columns
  cols = cols[9:]
  for i in cols:
    df = df.astype({i:'float'})

  dfg1 = df.groupby(['INSTNM']).agg({'UNITID': 'first', 'OPEID6': 'first', 'CONTROL': 'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})

  dfg1['num_nans'] = dfg1.isna().sum(axis=1)
  dfg1 = dfg1[(dfg1['num_nans'] < 17)]
  dfg1.to_csv("dataset_university.csv")

  # dfg2 = df.groupby(['CONTROL']).agg({'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg2.to_csv("dataset_control.csv")

  # dfg3 = df.groupby(['CIPCODE']).agg({'CIPDESC':'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg3['num_nans'] = dfg3.isna().sum(axis=1)
  # dfg3 = dfg3[(dfg3['num_nans'] < 17)]
  # dfg3.to_csv("dataset_major.csv")

  return dfg1
  # return df
  pass

############ Function Call ############
data_parser1()

,UNITID,OPEID6,CONTROL,IPEDSCOUNT1,IPEDSCOUNT2,DEBT_ALL_PP_ANY_MEAN,DEBT_MALE_PP_ANY_MEAN,DEBT_NOTMALE_PP_ANY_MEAN,DEBT_ALL_PP_EVAL_MEAN,DEBT_MALE_PP_EVAL_MEAN,...,DEBT_PELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_ALL_STGP_ANY_MEAN,DEBT_MALE_STGP_ANY_MEAN,DEBT_NOTMALE_STGP_ANY_MEAN,EARN_MDN_HI_1YR,EARN_NE_MDN_3YR,EARN_MALE_NE_MDN_3YR,EARN_NOMALE_NE_MDN_3YR,num_nans
INSTNM,,,,,,,,,,,,,,,,,,,,,
A T Still University of Health Sciences,177834.0,2477,"Private, nonprofit",71.705882,72.111111,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,79228.636364,89627.428571,100270.600000,88784.5,11
ABC Adult School,491464.0,42270,Public,14.714286,12.714286,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
ABC Beauty Academy,459523.0,41688,"Private, for-profit",52.000000,22.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11550.000000,NaN,11109.0,13
ABCO Technology,485500.0,42426,"Private, for-profit",19.600000,26.600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
AI Miami International University of Art and Design,134811.0,8878,"Private, for-profit",31.571429,24.000000,33742.4,31563.6,29485.5,33466.0,30290.0,...,28097.666667,40907.5,33791.909091,32552.857143,34528.0,25242.727273,29141.071429,29670.666667,27973.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yukon Beauty College Inc,413820.0,25565,"Private, for-profit",14.000000,10.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14331.000000,NaN,NaN,NaN,NaN,NaN,NaN,14
Z Hair Academy,451237.0,41329,"Private, for-profit",81.000000,103.000000,10687.0,NaN,NaN,8058.0,NaN,...,6414.000000,9456.0,NaN,NaN,NaN,19834.000000,20730.000000,NaN,20698.0,8
ZMS The Academy,486248.0,42217,"Private, for-profit",73.000000,43.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11106.000000,9658.000000,11452.0,16113.000000,NaN,NaN,NaN,11
Zane State College,204255.0,8133,Public,9.653846,9.132075,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12726.428571,NaN,NaN,42157.750000,32546.777778,47334.000000,23722.4,10
eClips School of Cosmetology and Barbering,446534.0,39163,"Private, for-profit",23.000000,26.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11383.000000,NaN,NaN,13282.000000,14272.000000,12843.000000,NaN,11

In [ ]:
def data_parser2():
  data_file = '/content/drive/MyDrive/CS 2316 Project/FieldOfStudyData1718_1819_PP.csv'
  df = pd.read_csv(data_file, delimiter = ',')
  df.replace('PrivacySuppressed', np.NaN, inplace = True)
  df.drop(['BBRR2_FED_COMP_N','BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE' ], inplace=True, axis=1)
  cols = df.columns
  cols = cols[9:]
  for i in cols:
    df = df.astype({i:'float'})

  # dfg1 = df.groupby(['INSTNM']).agg({'UNITID': 'first', 'OPEID6': 'first', 'CONTROL': 'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})

  # dfg1['num_nans'] = dfg1.isna().sum(axis=1)
  # dfg1 = dfg1[(dfg1['num_nans'] < 17)]
  # dfg1.to_csv("dataset_university.csv")

  dfg2 = df.groupby(['CONTROL']).agg({'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  dfg2.to_csv("dataset_control.csv")

  # dfg3 = df.groupby(['CIPCODE']).agg({'CIPDESC':'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg3['num_nans'] = dfg3.isna().sum(axis=1)
  # dfg3 = dfg3[(dfg3['num_nans'] < 17)]
  # dfg3.to_csv("dataset_major.csv")

  return dfg2
  # return df
  pass

############ Function Call ############
data_parser2()

,IPEDSCOUNT1,IPEDSCOUNT2,DEBT_ALL_PP_ANY_MEAN,DEBT_MALE_PP_ANY_MEAN,DEBT_NOTMALE_PP_ANY_MEAN,DEBT_ALL_PP_EVAL_MEAN,DEBT_MALE_PP_EVAL_MEAN,DEBT_NOTMALE_PP_EVAL_MEAN,DEBT_PELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_ALL_STGP_ANY_MEAN,DEBT_MALE_STGP_ANY_MEAN,DEBT_NOTMALE_STGP_ANY_MEAN,EARN_MDN_HI_1YR,EARN_NE_MDN_3YR,EARN_MALE_NE_MDN_3YR,EARN_NOMALE_NE_MDN_3YR
CONTROL,,,,,,,,,,,,,,,,,
Foreign,NaN,NaN,93811.000000,NaN,NaN,101980.500000,NaN,NaN,NaN,NaN,19557.800000,NaN,16063.000000,50042.622222,51040.333333,67405.571429,51134.100000
"Private, for-profit",40.999926,47.451668,13669.221195,16484.883281,14727.146119,13384.773564,16904.857485,15365.854214,12259.592029,17776.313690,23988.207099,25360.965150,26404.842421,33168.912770,33599.534562,39944.867668,32012.519089
"Private, nonprofit",20.325790,20.240441,38189.921613,43711.806630,41732.207815,43177.745686,51959.355191,49414.223650,39285.385694,56280.896296,25586.678008,25265.151634,26766.871531,47573.482879,54376.484578,62785.358841,52728.233317
Public,29.752366,30.081302,28757.680423,32029.632095,31814.597945,32278.681322,36093.054840,36104.333494,26960.611093,42018.044164,20826.201180,21846.013122,22539.907325,42908.217261,48608.770500,53784.401204,45678.065989

In [ ]:
def data_parser3():
  data_file = '/content/drive/MyDrive/CS 2316 Project/FieldOfStudyData1718_1819_PP.csv'
  df = pd.read_csv(data_file, delimiter = ',')
  df.replace('PrivacySuppressed', np.NaN, inplace = True)
  df.drop(['BBRR2_FED_COMP_N','BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE' ], inplace=True, axis=1)
  cols = df.columns
  cols = cols[9:]
  for i in cols:
    df = df.astype({i:'float'})

  # dfg1 = df.groupby(['INSTNM']).agg({'UNITID': 'first', 'OPEID6': 'first', 'CONTROL': 'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})

  # dfg1['num_nans'] = dfg1.isna().sum(axis=1)
  # dfg1 = dfg1[(dfg1['num_nans'] < 17)]
  # dfg1.to_csv("dataset_university.csv")

  # dfg2 = df.groupby(['CONTROL']).agg({'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg2.to_csv("dataset_control.csv")

  dfg3 = df.groupby(['CIPCODE']).agg({'CIPDESC':'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  dfg3['num_nans'] = dfg3.isna().sum(axis=1)
  dfg3 = dfg3[(dfg3['num_nans'] < 17)]
  dfg3.to_csv("dataset_major.csv")

  return dfg3
  # return df
  pass

############ Function Call ############
data_parser3()

,CIPDESC,IPEDSCOUNT1,IPEDSCOUNT2,DEBT_ALL_PP_ANY_MEAN,DEBT_MALE_PP_ANY_MEAN,DEBT_NOTMALE_PP_ANY_MEAN,DEBT_ALL_PP_EVAL_MEAN,DEBT_MALE_PP_EVAL_MEAN,DEBT_NOTMALE_PP_EVAL_MEAN,DEBT_PELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_ALL_STGP_ANY_MEAN,DEBT_MALE_STGP_ANY_MEAN,DEBT_NOTMALE_STGP_ANY_MEAN,EARN_MDN_HI_1YR,EARN_NE_MDN_3YR,EARN_MALE_NE_MDN_3YR,EARN_NOMALE_NE_MDN_3YR,num_nans
CIPCODE,,,,,,,,,,,,,,,,,,,
100,"Agriculture, General.",14.344398,13.817121,31006.545455,22557.666667,30297.000000,30950.636364,23022.666667,27074.000000,19456.000000,31107.333333,20819.575758,21440.533333,21208.411765,36883.980000,39330.657895,44822.631579,36142.545455,0
101,Agricultural Business and Management.,16.839921,17.134615,40954.766667,29751.250000,46005.857143,42450.103448,30314.125000,47251.857143,33579.125000,36951.833333,17580.769231,19331.666667,17296.541667,42359.597826,48501.309524,52304.174603,46877.709677,0
102,Agricultural Mechanization.,13.800000,13.723214,30816.000000,NaN,NaN,36133.500000,NaN,NaN,NaN,NaN,18046.400000,NaN,NaN,45820.318182,51775.833333,51360.000000,NaN,9
103,Agricultural Production Operations.,8.910326,8.929293,40619.600000,NaN,NaN,41003.400000,NaN,NaN,33605.000000,NaN,17981.535714,18498.400000,14823.125000,31366.931034,37088.000000,43121.500000,30961.800000,5
104,Agricultural and Food Products Processing.,6.457143,6.421053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19898.500000,20420.000000,NaN,54205.500000,59149.000000,78507.000000,NaN,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,"Business, Management, Marketing, and Related S...",20.296820,20.614841,43931.388889,50049.142857,49786.222222,48733.200000,55229.000000,55192.250000,52430.222222,46338.000000,24596.710526,23778.500000,24908.277778,51621.439394,54645.144928,57331.333333,48005.275000,0
5301,High School/Secondary Diploma Programs.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41979.000000,60425.000000,70468.000000,53913.000000,13
5401,History.,15.240430,15.131919,37305.408284,39239.264151,31325.894737,39636.098592,41073.076923,30316.166667,23556.333333,42067.454545,23348.903683,23334.281106,23070.266667,30460.047718,37966.115108,39715.929630,36207.556818,0
6001,Dental Residency Programs.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190365.500000,206116.500000,184245.000000,NaN,14
6004,Medical Residency Programs - General Certifica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35726.000000,40759.000000,28178.000000,14

## Web Collection Requirement \#1

In [ ]:
def web_parser1():
  url = 'https://www.reachhighscholars.org/scores_and_acceptance.html'
  resp = requests.get(url)
  soup = BeautifulSoup(resp.text, "html.parser")
  # print(soup)

  table = soup.find("table")
  rows = table.find_all("tr")

  headers = rows[0].text.strip('\n').replace('-', '\n\n').split('\n\n')
  headers[1] = headers[1] + 'th Percentile'
  headers[2] = 'SAT ' + headers[2]
  df = pd.DataFrame(columns = headers)
  # print(rows)
  rows = rows[1:]
  # print(rows)
  for row in rows:
    data = row.text.strip('\n').replace('-', '\n\n').split('\n\n')
    data = [i.strip() for i in data]
    #necessary in order to make sure that there is valuable data in the line and not just empty

    # print(data)
    if data != ['','',''] and len(data) == 4:
      df.loc[len(df)] = data
    elif(len(data) == 5):
      data = [data[0] + '-' + data[1], data[2], data[3]]
  # print(table)
  df.to_csv("WebRequirement1.csv")
  return df
  # pass

############ Function Call ############
web_parser1()

,College,SAT 25th Percentile,SAT 75th Percentile,% of Applicants Accepted
0,Cal Tech,1530,1580,7
1,Harvard,1460,1580,5
2,MIT,1510,1580,7
3,Yale,1460,1580,5
4,Brown,1440,1570,8
...,...,...,...,...
121,Knox,1080,1320,71
122,St. Anselm,1140,1300,75
123,Stonehill,1120,1290,69
124,St. Michael's,1130,1280,88
125,UNH,1090,1280,85

## Web Collection Requirement \#2

In [ ]:
def web_parser2():
  df = pd.DataFrame(columns = ['Name', 'avg_income'])
  for i in range(0, 335):
    url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?page={fpage},per_page=100&api_key=6QnJqX2bDvlVKsS4xPyPkMZG28mHTKRJ5rLgNxeW".format(fpage=i)
    resp = requests.get(url)
    data = resp.json()
    # print(data)

    # Mean post-graduation income for each college?
    names = []
    incomes = []
    for college in data["results"]:
        name = college["latest"]["school"]["name"]
        income = college["latest"]["student"]["demographics"]["avg_family_income"]
        if income:
          df.loc[len(df)] = [name, income]
        # print(income)
  df.to_csv("WebRequirement2.csv")
  return df
############ Function Call ############
web_parser2()

                                                   Name  avg_income
0                              Alabama A & M University       32362
1                   University of Alabama at Birmingham       51306
2                                    Amridge University       21079
3                   University of Alabama in Huntsville       61096
4                              Alabama State University       31684
...                                                 ...         ...
5906  Pennsylvania State University-Penn State Wilke...       82495
5907      Pennsylvania State University-Penn State York       82495
5908  Pennsylvania State University-Penn State Great...       82495
5909  Pennsylvania State University-Penn State Harri...       82495
5910  Pennsylvania State University-Penn State Brand...       82495

[5911 rows x 2 columns]

## Additional Dataset Parsing/Cleaning Functions

Write any supplemental (optional) functions here.

In [ ]:
def extra_source1():
    pass


############ Function Call ############
extra_source1()

In [ ]:
# Define further extra source functions as necessary

# Inconsistencies

For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance and how you plan to handle it. Failure to provide a complete answer may result in point deduction.

1. In the first web collection we needed to ensure that there were no empty rows that were being added to the dataframe. This would ensure that the data being added to our dataframe is valuable and not an empty line which could cause issues when using the dataframe in the analysis phase. This was handled by using an if statement to ensure that the data was useful and not empty.

2. The webpage that we used gave the 25th and 75th SAT score percentile in a single column, however that would not be as useful because it would be difficult to graph for analysis. As a result the column needed to be split into 2 columns, one representing the 25th percentile and one representing the 75th percentile.

3. In our dataset colleges were repeated multiple times for each major and level of degree. Inorder to handle this inconsistency and consolidate each college to having only 1 row each we have to perform a groupby and also determine how to aggregate the values that are in different columns. Hence, we chose to take the mean values of most of the columns that we chose to include as well as the first occurrence for some of the columns such as control which tells whether it is a private, public, foreign, etc.

4. There are many cells that have the value PrivacySuppressed in our dataset. To handle this inconsistency we replace them all with nan values to allow for calculations and functions to still take place.

5. After grouping the dataset by college, we noticed that there were many colleges that had no valuable data as a result of the data that we wanted being restricted and thus PrivacySupressed. As a result we took the rows that have 17 or more NaNs and removing those rows.

6. For the second web collection using api, there were too much data that quering did not work and continuously gave 'NaN' values for everything. Thus, instead of using a query, we decided to obtain the college name and average household income through a for loop which went through every page of the api. This helped successfully remove values which were not needed. Some colleges did not have data for the average household income, thus we removed them and formatted the obtained values into a Panda dataframe, then converted it into a csv file.